/* By setting grid-template-columns to "1fr 1fr 1fr", the grid split the entire grid into 3 equal fractions. Each column take up one fraction unit */
/* The first parameter of the repeat function is the amount of rows or columns. The second parameter is the height or the width of the rows or columns. */
/* grid-template is the shorthand method for grid-template-columns and grid-template-rows. Start with the rows and then the columns */
.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    /* grid-template-areas - Visual representation of how we want the grid to look like */
    /* With grid-tempate-areas, dots ( . ) result in blank cells */
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "f f f f f f f f f f f f"
}

/* Header starts at the first column line and ends at the 3rd column line.*/
.header {
    grid-area: h;
    /* grid-column: 2 / -1; */
  
}

.menu {
   grid-area: m;
}

.content {
    /* grid-column: 2 / -1; */
    grid-area: c;
}

/* Footer starts at the first column line and spans across 2 columns.*/
/* -1 targets the very last column line */
.footer {
    /* grid-column: 1 / -1; */
    grid-area: f;
}